@font-face { font-family: pixel; src: url("Azonix.ttf"); }

body{
    display: flex;
    background-color: white;
    background-image: linear-gradient(45deg, #16002b, #28004e, #5300a0, #3f00b4);
    background-size: 400%;
    animation: bg-animation 12s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

#logintitle{
    font-family: pixel;
    color: white;
    font-size: 60px;
}
#logintitle{
    font-family: pixel;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 190px;
    
}
#user{
    font-family: pixel;
    color: white;
 
}
#pass{
    font-family: pixel;
    color: white;
 
}
#userinput{
    font-family: pixel;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    margin-left: 20px;
    position: absolute;
    top: 200px;
    border: 2px solid white;
    width: 300px;
    height: 25px;
 
}
#passinput{
    font-family: pixel;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    background-color: transparent;
    border-radius: 15px;
    margin-left: 20px;
    position: absolute;
    top: 400px;
    border: 2px solid white;
    width: 300px;
    height: 25px;
 
}
#googlelogin{
    font-family: pixel;
    color: white;
 
}
#gitlogin{
    font-family: pixel;
    color: white;
 
}

#loginpanel{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    width: 500px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



